:root{
    font-family: "Encode Sans Expanded", sans-serif;
    --background_color: #ffffff;
    --main_color: #381FEB;
    --secondary_color: #EB3B1F;
    --secondary_color50: #EB3B1F44;
    --gradient_color_a: #2072A1;
    --gradient_color_b: #A21212;
    --gradient_color_a: #EB3B1F;
    --gradient_color_b: transparent;
    --gradient_color_c: transparent;
    --dark_color: #1b1a19;
}

.preload{
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

img{
    max-width: 100%;
}

body{
    background-color: var(--background_color);
    margin: 0;
    font-size: 9px;
    transition-duration: 0.2s;
    transition-delay: 0.1s;
    transition-timing-function: ease-in-out;
}

a{
    text-decoration: none;
    transition: ease-in-out 0.15s;
    -webkit-tap-highlight-color: transparent;
}

.main_container{
    top: 0;
    left: 0;
    margin: 0 auto;
}

.navbar{
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 2em;
    display: grid;
    grid-template-rows: auto;
    .logo{
        color: var(--background_color);
        font-size: 2em;
        font-weight: bold;
        margin: 0 auto;
        margin-bottom: 1em;
    }
    .navigation{
        max-width: 330px;
        width: 76vw;
        text-align: center;
        display: flex;
        justify-content: space-between;
        a{
        color: var(--background_color);
        padding: 0 auto;
        };
        a:hover{
            color: var(--secondary_color);
        }
        margin: 0 auto;
    }
}

.top_container{
    position: relative;
    z-index: 0;
    display: grid;
    grid-template-rows: 410px auto;
    width: 100%;
    margin-bottom: 10em;
    .gradient_box{
        background-image: linear-gradient(to bottom right,
            var(--gradient_color_a), var(--gradient_color_b) , var(--gradient_color_c)
        );
        position: relative;
        canvas{
            z-index: -1;
            position:absolute;
            width:100%;
            height:100%;
        }
        .square_container{
            transition-duration: 0.2s;
            transition-timing-function: ease-out;
            width: 100%;
            height: 100%;
        }

        .square_container2{
            position: absolute;
            transition-duration: 0.5s;
            transition-timing-function: ease-out;
            width: 100%;
            height: 100%;
            .main_square_box{
                border-radius: 1em;
                box-shadow: 0px 0px 0px 2em var(--main_color) ;
            }
        }
        .main_square_box{
            bottom: -4em;
            left: 50%;
            transform: translate(-50%, 0);
            position: absolute;
            width: 90vw;
            height: 90vw;
            max-width: 330px;
            max-height: 330px;
            background-color: var(--main_color);
            color: var(--background_color);
            box-shadow: 0em 3em 10em 2em var(--main_color) ;

            img{
                border-radius: 10em;
                opacity: 0%;
                z-index: 1;
                position: absolute;
                width: 100%;
                height: 100%;
                transition-duration: 0.3s;
            }

            .text_container{
                padding: 2em;
                margin: 50% auto;
                transform: translate(0, -50%);
                .main_text{
                    font-size: 2em;
                    font-weight: bold;
                    margin-bottom: 1em;
                }
                .secondary_text{
                    font-size: 1em;
                }
            }
        
        }
        .main_square_box:hover img{
            opacity: 100%;
        }


    }
    .invisible_box{
        .container{
            margin-top: 12em;
            text-align: center;
            overflow: auto;
            .big_text{
                font-size: 9em;
                font-weight: bold;
                color: var(--main_color);

            }
            .prompt_text{
                color: var(--main_color);
                font-weight: bold;
                margin-top: 8em;
                margin-bottom: 1em;
            }
        }
    }

}

.items_container{
    width: 100%;
    
    .item_perspective{
        perspective: 100px;
    }
    .item:hover .radial_gradient{
        visibility: visible;
    }
    .item:hover img{
        transform: scale(1, 1) !important;
    }
    .item{
        
        transition-duration: 0 !important;
        transition-delay: 0 !important;
        transition-timing-function: linear !important;
        position: relative;
        overflow: hidden;

        .radial_gradient{
            visibility: hidden;
            z-index: -3;
            position:absolute;
            height:100em;
            width:100em;
            transform: translate(-50em, -50em);
            background: #9b59b6;
            background: 
              radial-gradient(
               at center, var(--main_color), transparent, transparent
              );
        }
        a{
            text-decoration: none;
            color: var(--main_color)
        }
        a:hover{
            color: var(--secondary_color)
        }
        border: 3px var(--main_color) solid;
        border-style: solid;
        border-left: none;
        border-right: none;
        margin-top: 3em;
        margin-bottom: 3em;
        color: var(--main_color);
        transition: ease-in-out 0.15s;
        text-align: center;
        .container{
            text-align: left;
            display: inline-block;
            img{
                margin: 2em auto;
                width: 100%;
                max-width: 330px;
                transform: scale(0.9, 0.9);
                transition-duration: 0.5s;
                transition-timing-function: ease-in-out;
                border-radius: 1em;
            }
            .text_box{
                max-width: 330px;
                .title{
                    font-size: 4em;
                    font-weight: bold;
                }
                .secondary_text{
                    font-size: 2em;
                }
                .bottom_text{
                    margin-top: 2em;
                    margin-bottom: 2em;
                    width: 100%;
                    .work_type{
                        float: right;
                        margin-right: 0;
                    }
    
                }
            }
        }

    }
    .item:hover{
        color: var(--secondary_color);
        border-color: var(--secondary_color);
        transition-timing-function: ease-in-out;
        box-shadow: 0em 2em 5em 0em var(--secondary_color50);
    }


}

.footer{
    color: var(--main_color);
    .text_box{
        margin: 0 auto;
        width: 85%;
        .title{
            font-size: 2em;
            font-weight: bold;
        
        }
        .secondary_text{
            margin-top: 1em;
            font-size: 2em;
            a{
                color: var(--main_color);
                text-decoration: underline;
            }
            a:hover{
            color: var(--secondary_color);
            }
        }
    }
    .navigation{
        margin: 4em auto;
        width: 85%;
        display: flex;
        justify-content: space-between;
        a{
            color: var(--main_color);
        }
        a:hover{
            color: var(--secondary_color);
        }

    }
    
}

@media only screen and (min-width: 300px){
    .big_text{
        font-size: 9em;
    }
}

@media only screen and (min-width: 580px){
    body{
        font-size: 12px;
    }

    .top_container{
        grid-template-rows: 500px auto;
    }
    .navbar{
        .navigation{
            max-width: 400px;
        }
    }
    .main_square_box{
        max-width: 400px !important;
        max-height: 400px !important;
    }

    .item{
        .container{
            img{
                max-width: 400px
            }
        }

    }
}

@media only screen and (min-width: 800px){
    .item{
        .container{
        display: grid !important;
        grid-template-columns: 50% 50%;
        position: relative;
        height: 450px;

        img{
           position: absolute; 
           right: 2em;
        }

        .text_box{
            max-width: none !important;
            top: 55%;
            left: 25%;
            transform: translate(-50%, -50%);
            position: absolute;
            width: 30em;
        }
    }
        
    }
}

@media only screen and (min-width: 910px){
    .item{
        margin-left: 7vw;
        margin-right: 7vw;
        border-right-style: solid !important;
        border-left-style: solid !important;
        border-radius: 1em;
        .container{
            height: 34em;
            img{
                max-width: none !important;
                max-height:none;
                width: 30em !important;

            }
        }

    }
    .footer{
        margin-left: 7vw;
        margin-right: 7vw;
    }
}

@media only screen and (min-width: 1240px){
    body{
        font-size: 0.7vw;
    }
    .navbar{
        display: inline-block;
        .logo{
            margin-left: 15vw;
        }
        .navigation{
            float: right;
            margin-right: 7em;
            max-width: 30em;
            a{
                color: var(--main_color);
            }
            
        }
    }
    .top_container{
        height: 100vh;
        grid-template-columns: 40% 60%;
        .gradient_box{
            height: 100vh;
            position: relative;

            .main_square_box{
                max-width: none !important;
                max-height: none !important;
                width: 30vw;
                height: 30vw;
                top: 50% !important;
                left: 100%;
                transform: translate(-25vw, -50%) !important;
                .text_container{
                    padding: 3vw;
                }
            }
        }
        .invisible_box{
            .container{
                margin-top: 38vh;
                .big_text{
                    font-size: 16em !important;
                }
            }
        }
    }
    .items_container{
        margin-top: -12em;
    }
    .item{
        margin-left: 15vw;
        margin-right: 15vw;
        .container{
            height: 44em;
            img{
                width: 40em !important;
            }
        }

    }
    .footer{
        margin-left: 15vw;
        margin-right: 15vw;    
    }
    
}