:root {
  font-family: 'Encode Sans Expanded', sans-serif;
  --background_color: #EBE8D9;
  --main_color: #381FEB;
  --secondary_color: #EB3B1F;
  --gradient_color_a: #2072A1;
  --gradient_color_b: #A21212;
}

img {
  max-width: 100%;
}

body {
  background-color: var(--background_color);
  margin: 0;
  font-size: 9px;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

a {
  text-decoration: none;
  -webkit-transition: ease-in-out 0.15s;
  transition: ease-in-out 0.15s;
  -webkit-tap-highlight-color: transparent;
}

.main_container {
  top: 0;
  left: 0;
  margin: 0 auto;
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 2em;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
}

.navbar .logo {
  color: var(--background_color);
  font-size: 2em;
  font-weight: bold;
  margin: 0 auto;
  margin-bottom: 1em;
}

.navbar .navigation {
  max-width: 330px;
  width: 76vw;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}

.navbar .navigation a {
  color: var(--background_color);
  padding: 0 auto;
}

.navbar .navigation a:hover {
  color: var(--secondary_color);
}

.top_container {
  position: relative;
  z-index: -1;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 410px auto;
      grid-template-rows: 410px auto;
  width: 100%;
  margin-bottom: 10em;
}

.top_container .gradient_box {
  background-image: -webkit-gradient(linear, left top, right bottom, from(var(--gradient_color_a)), to(var(--gradient_color_b)));
  background-image: linear-gradient(to bottom right, var(--gradient_color_a), var(--gradient_color_b));
  position: relative;
}

.top_container .gradient_box .main_square_box {
  bottom: -4em;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  position: absolute;
  width: 90vw;
  height: 90vw;
  max-width: 330px;
  max-height: 330px;
  background-color: var(--main_color);
  color: var(--background_color);
}

.top_container .gradient_box .main_square_box .text_container {
  padding: 2em;
  margin: 50% auto;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.top_container .gradient_box .main_square_box .text_container .main_text {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 1em;
}

.top_container .gradient_box .main_square_box .text_container .secondary_text {
  font-size: 1em;
}

.top_container .invisible_box .container {
  margin-top: 12em;
  text-align: center;
  overflow: auto;
}

.top_container .invisible_box .container .big_text {
  font-size: 9em;
  font-weight: bold;
  color: var(--main_color);
}

.top_container .invisible_box .container .prompt_text {
  color: var(--main_color);
  font-weight: bold;
  margin-top: 8em;
  margin-bottom: 1em;
}

.items_container {
  width: 100%;
}

.items_container .item {
  border: 3px var(--main_color) solid;
  border-style: solid;
  border-left: none;
  border-right: none;
  margin-top: 3em;
  margin-bottom: 3em;
  color: var(--main_color);
  -webkit-transition: ease-in-out 0.15s;
  transition: ease-in-out 0.15s;
  text-align: center;
}

.items_container .item .container {
  text-align: left;
  display: inline-block;
}

.items_container .item .container img {
  margin: 2em auto;
  width: 100%;
  max-width: 330px;
}

.items_container .item .container .text_box {
  max-width: 330px;
}

.items_container .item .container .text_box .title {
  font-size: 4em;
  font-weight: bold;
}

.items_container .item .container .text_box .secondary_text {
  font-size: 2em;
}

.items_container .item .container .text_box .bottom_text {
  margin-top: 2em;
  margin-bottom: 2em;
  width: 100%;
}

.items_container .item .container .text_box .bottom_text .work_type {
  float: right;
  margin-right: 0;
}

.items_container .item:hover {
  color: var(--secondary_color);
  border-color: var(--secondary_color);
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.footer {
  color: var(--main_color);
}

.footer .text_box {
  margin: 0 auto;
  width: 85%;
}

.footer .text_box .title {
  font-size: 2em;
  font-weight: bold;
}

.footer .text_box .secondary_text {
  margin-top: 1em;
  font-size: 2em;
}

.footer .text_box .secondary_text a {
  color: var(--main_color);
  text-decoration: underline;
}

.footer .text_box .secondary_text a:hover {
  color: var(--secondary_color);
}

.footer .navigation {
  margin: 4em auto;
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .navigation a {
  color: var(--main_color);
}

.footer .navigation a:hover {
  color: var(--secondary_color);
}

@media only screen and (min-width: 300px) {
  .big_text {
    font-size: 9em !important;
  }
}

@media only screen and (min-width: 580px) {
  body {
    font-size: 12px;
  }
  .top_container {
    -ms-grid-rows: 500px auto;
        grid-template-rows: 500px auto;
  }
  .navbar .navigation {
    max-width: 400px;
  }
  .main_square_box {
    max-width: 400px !important;
    max-height: 400px !important;
  }
  .item .container img {
    max-width: 400px;
  }
}

@media only screen and (min-width: 800px) {
  .item .container {
    display: -ms-grid !important;
    display: grid !important;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    position: relative;
    height: 450px;
  }
  .item .container img {
    position: absolute;
    right: 2em;
  }
  .item .container .text_box {
    max-width: none !important;
    top: 55%;
    left: 25%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    position: absolute;
    width: 30em;
  }
}

@media only screen and (min-width: 910px) {
  .item {
    margin-left: 7vw;
    margin-right: 7vw;
    border-right-style: solid !important;
    border-left-style: solid !important;
  }
  .item .container {
    height: 34em;
  }
  .item .container img {
    max-width: none !important;
    max-height: none;
    width: 30em !important;
  }
  .footer {
    margin-left: 7vw;
    margin-right: 7vw;
  }
}

@media only screen and (min-width: 1240px) {
  body {
    font-size: 0.7vw;
  }
  .navbar {
    display: inline-block;
  }
  .navbar .logo {
    margin-left: 15vw;
  }
  .navbar .navigation {
    float: right;
    margin-right: 7em;
    max-width: 30em;
  }
  .navbar .navigation a {
    color: var(--main_color);
  }
  .top_container {
    height: 100vh;
    -ms-grid-columns: 40% 60%;
        grid-template-columns: 40% 60%;
  }
  .top_container .gradient_box {
    height: 100vh;
    position: relative;
  }
  .top_container .gradient_box .main_square_box {
    max-width: none !important;
    max-height: none !important;
    width: 30vw;
    height: 30vw;
    top: 50% !important;
    left: 100%;
    -webkit-transform: translate(-25vw, -50%) !important;
            transform: translate(-25vw, -50%) !important;
  }
  .top_container .gradient_box .main_square_box .text_container {
    padding: 3vw;
  }
  .top_container .invisible_box .container {
    margin-top: 40vh;
  }
  .item {
    margin-left: 15vw;
    margin-right: 15vw;
  }
  .item .container {
    height: 44em;
  }
  .item .container img {
    width: 40em !important;
  }
  .footer {
    margin-left: 15vw;
    margin-right: 15vw;
  }
}

@media only screen and (min-width: 1750px) {
  body {
    font-size: 0.7vw;
  }
}

@media only screen and (min-width: 1750px) {
  body {
    font-size: 0.7vw;
  }
}
/*# sourceMappingURL=main.css.map */